$text-width: 400px;
$hero-section-gutter: 64px;

.heroSection {
  display: flex;
  align-items: stretch;
  width: 100%;
  background-color: $neutral-primary;
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;

  &__content {
    width: $text-width + 2 * $hero-section-gutter;
    padding: 48px $hero-section-gutter;
    align-self: center;
  }

  &__headline {
    font-size: clamp(4rem, 8vw, 6rem);
    font-weight: normal;
    white-space: nowrap;
    position: relative;
    z-index: 50;
  }

  &__text {
    width: $text-width;
    font-size: 24px;
    font-weight: normal;
    margin-top: 56px;
  }

  &__picture {
    flex: 1 1 0px;
    width: 100%;

    & img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__signupBtn {
    outline: none;
    text-transform: capitalize;
    font-family: var(--font-default);
    font-size: 1.3rem;
    padding: 16px 24px;
    margin-top: 56px;
    background: #fe142f;
    color: #fff;
    border-radius: 15px;
    border: none;
    cursor: pointer;

    &:hover {
      background: $highlight-secondary;
    }

    &--mobile {
      display: none;
    }
  }
}

@include mobile {
  .heroSection {
    background-color: transparent;
    box-shadow: none;
    color: black;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 $gutter-mobile;

    &__content {
      padding: 0;
      margin-right: auto;
      width: 100%;
    }

    &__headline {
      white-space: normal;
      font-size: clamp(3.5rem, 10vw, 5rem);
    }

    &__text {
      width: 100%;
      font-size: clamp(20px, 3vw, 24px);
    }

    &__picture {
      margin-top: 64px;

      & img {
        border-radius: 16px;
      }
    }

    &__signupBtn {
      margin-top: 40px;
      align-self: center;

      &--mobile {
        display: block;
      }

      &--desktop {
        display: none;
      }
    }
  }
}
