$font-default: 'DM Sans', Arial, Helvetica, sans-serif;
$modal-duration: 0.8s;

$highlight-primary: #ff0000;
$highlight-secondary: #3876ac;
$highlight-tertiary: #279e7a;

$neutral-primary: #232323;

$gutter-desktop: 48px;
$gutter-mobile: 7%;
