@-webkit-keyframes modal-open {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
@keyframes modal-open {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-border {
  from {
    border-color: transparent;
  }
  to {
    border-color: red;
  }
}
@keyframes fade-in-border {
  from {
    border-color: transparent;
  }
  to {
    border-color: red;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 48px;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;
}

@media screen and (max-width: 800px) {
  body {
    padding: 0;
  }
}
.navbar {
  display: flex;
  gap: 4px;
}
.navbar__item {
  color: #000000;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.navbar__item:hover {
  background-color: #ff0000;
  color: white;
}
.navbar__item--active {
  background-color: #ff0000;
  color: white;
}
.navbar__item span {
  text-overflow: ellipsis;
}
.navbar__hamburgerIcon {
  color: #000000;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  border-radius: 15px;
  display: flex;
  align-items: center;
  display: none;
  cursor: pointer;
  font-size: 28px;
}
.navbar__hamburgerIcon:hover {
  background-color: #ff0000;
  color: white;
}
.navbar__hamburgerIcon--active {
  background-color: #ff0000;
  color: white;
}

@media screen and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    background-color: white;
    padding: 16px;
    border-radius: 16px;
    display: none;
  }
  .navbar--active {
    display: block;
    -webkit-animation: fade-in 400ms both;
            animation: fade-in 400ms both;
  }
  .navbar__hamburgerIcon {
    display: block;
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.form__textControl {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}
.form__textControl--wrong {
  border: 4px solid red;
  -webkit-animation: fade-in-border 300ms;
          animation: fade-in-border 300ms;
}
.form__errorMessage {
  font-size: 16px;
  color: red;
  display: none;
}
.form__errorMessage--active {
  display: inline-block;
  -webkit-animation: fade-in 300ms 100ms both;
          animation: fade-in 300ms 100ms both;
}
.form__checkboxLabel, .form__agreementCheckboxLabel {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}
.form__checkboxLabel .form__checkboxIcon, .form__agreementCheckboxLabel .form__checkboxIcon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
  cursor: pointer;
}
.form__checkboxLabel .form__checkboxIcon::after, .form__agreementCheckboxLabel .form__checkboxIcon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}
.form__checkboxInput {
  display: none;
}
.form__checkboxInput:checked + .form__checkboxLabel .form__checkboxIcon::after, .form__checkboxInput:checked + .form__agreementCheckboxLabel .form__checkboxIcon::after {
  opacity: 1;
}
.form__checkboxInput:checked + .form__agreementCheckboxLabel .form__checkboxIcon {
  background: #279e7a;
}
.form__agreementCheckboxLabel .form__checkboxIcon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}
.form__agreementCheckboxLabel .form__checkboxIcon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}
.form__submitBtn {
  background: #ff0000;
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 82px;
  color: #fff;
  cursor: pointer;
  border: 0;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
}
.form__textLabel {
  font-weight: normal;
  font-size: 16px;
}

label {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

.formConfirmation {
  background-color: #232323;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 300;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}
.formConfirmation--active {
  display: flex;
  -webkit-animation: fade-in 400ms both;
          animation: fade-in 400ms both;
}
.formConfirmation__text {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 36px;
  text-align: center;
}
.formConfirmation__closeBtn {
  background: #ff0000;
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 82px;
  color: #fff;
  cursor: pointer;
  border: 0;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 16px;
}

.header {
  margin: 24px 0 0;
  padding: 8px 0;
  display: flex;
  gap: 48px;
  row-gap: 16px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header__logo {
  width: 270px;
}

@media screen and (max-width: 800px) {
  .header {
    padding-right: 8px;
    padding-left: 8px;
  }
  .header__logo {
    width: 0;
    flex: 1 1 0px;
    max-width: 270px;
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px 0;
}

.heroSection {
  display: flex;
  align-items: stretch;
  width: 100%;
  background-color: #232323;
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.heroSection__content {
  width: 528px;
  padding: 48px 64px;
  align-self: center;
}
.heroSection__headline {
  font-size: clamp(4rem, 8vw, 6rem);
  font-weight: normal;
  white-space: nowrap;
  position: relative;
  z-index: 50;
}
.heroSection__text {
  width: 400px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 56px;
}
.heroSection__picture {
  flex: 1 1 0px;
  width: 100%;
}
.heroSection__picture img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.heroSection__signupBtn {
  outline: none;
  text-transform: capitalize;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  padding: 16px 24px;
  margin-top: 56px;
  background: #fe142f;
  color: #fff;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.heroSection__signupBtn:hover {
  background: #3876ac;
}
.heroSection__signupBtn--mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .heroSection {
    background-color: transparent;
    box-shadow: none;
    color: black;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 7%;
  }
  .heroSection__content {
    padding: 0;
    margin-right: auto;
    width: 100%;
  }
  .heroSection__headline {
    white-space: normal;
    font-size: clamp(3.5rem, 10vw, 5rem);
  }
  .heroSection__text {
    width: 100%;
    font-size: clamp(20px, 3vw, 24px);
  }
  .heroSection__picture {
    margin-top: 64px;
  }
  .heroSection__picture img {
    border-radius: 16px;
  }
  .heroSection__signupBtn {
    margin-top: 40px;
    align-self: center;
  }
  .heroSection__signupBtn--mobile {
    display: block;
  }
  .heroSection__signupBtn--desktop {
    display: none;
  }
}
.footer {
  display: flex;
}
.footer__copyrights {
  color: #fe142f;
  padding: 0;
  font-size: 1rem;
  margin: 60px 0 30px;
  font-weight: bolder;
}

@media screen and (max-width: 800px) {
  .footer {
    justify-content: center;
  }
}
.formModal {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  -webkit-animation-name: modal-open;
          animation-name: modal-open;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}
.formModal__overlay {
  display: none;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}
.formModal__overlay--active {
  display: block;
}
.formModal__content {
  padding: 15px 8%;
  margin: 15px auto;
  position: relative;
}
.formModal__closeBtn {
  position: absolute;
  z-index: 400;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.formModal__closeBtn::before {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
  transform: rotate(45deg);
}
.formModal__closeBtn::after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
  transform: rotate(-45deg);
}/*# sourceMappingURL=main.css.map */